*.pyc
# Python

*.pyc
*.egg-info/

global_config.json

nohup.out
dealer.log
dealer.*

*.csv
*.drawio
*.pdf

*.DS_Store
./build
./dist
./run_tumbler

tmp.json
trader_server_config.json

pay_flash_config.json
pay_flash_test.json
pay_flash_online.json
pay_flash_my_online.json

eth_keystore.json

save_deposit_config.json

sftp-config.json

# Jupyter
.ipynb_checkpoints

# IDE
.vscode
.idea
*.wpr
*.wpu
.vs
x64

# Temp
build
dist
*.local

.temp
.strategy_run
.tumbler/strategy_run_log
.deal
.deal_v3
.live

.tumbler/log
.tumbler/day
.tumbler/hour
.tumbler*

account_h

!.tumbler/connect_setting.json
!.tumbler/aggregation_setting.json
!.tumbler/market_maker_setting.json

# Visual Studio intermediate files
*.exp
*.iobj
*.ipdb
*.pdb

# Documents
_build
_static
_templates

__pycache__

*.log
*.log.*
*.temp
.temp
*.png

tumbler_operate.py
tumbler_account.py
tumbler_new_account.py
monitor_get_balance_secret.py
my_code
.my_use_code

PayFlash Api.pdf

deposit_hash_config.json
deposit_hash_local_config.json
deposit_hash_online_config.json

btm_local_server.json
btm_local_server_local_config.json
btm_local_server_online_config.json
btm_save.json

eth_local_server_local_config.json
eth_local_server_online_config.json
eth_local_server_config.json

data

bad_token.txt
bad_user.txt

*.pic
*.jpeg
output
*.xlsx
result
upload
pictures
to_upload

